.button {
  appearance: none;
  border: 0;
  border-radius: 0;


  min-height: 40px;
  display: block;
  text-transform: uppercase;
  background-color: $primary-color;
  color: #ffffff;
  padding: 10px 20px;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &--more {
    background-color: $secondary-color;
    color: #444444;
    font-family: $font-stack;
    font-size: 16px;
  }
}
