.card {
  border-top: solid 1px #ededed;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;

    padding-right: 30px;
    padding-left: 30px;
    padding-top: 142px;
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
    flex-basis: 25%;
  }
}

.card:last-child {
  border-bottom: solid 1px #ededed;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.card__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 38px 40px;

    width: 324px;
    min-height: 431px;
    background-color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__heading {
  margin: 25px 0 18px 0;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.25;
  color: $heading-text-color;
  text-transform: uppercase;
  max-width: 74px;

  @media (min-width: $tablet-width) {
    max-width: 124px;
    margin: 39px auto 28px auto;
    text-align: center;
  }
}

.card__image {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    width: 161px;
    height: 172px;
    transform: translateY(-46px);

    &--big {
      width: 195px;
      height: 208px;
      transform: translateY(-82px);
    }
  }
}

.card__mobile-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.card__table {
  width: 142px;
  font-size: 12px;
  line-height: 1.33;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 252px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 171px;
  }
}

.card__table-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
