.card {
  border-bottom: solid 1px #ededed;
  padding-bottom: 25px;
}

.card__wrapper {
  @include container();
}


.card__heading {
  margin: 0;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.25;
  color: $heading-text-color;
  text-transform: uppercase;
  max-width: 74px;
}


.card__image {
  width: 140px;
  height: 144px;
}
