.card {
  border-bottom: solid 1px #ededed;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 58px;
  }
}

.card:nth-child(odd) {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }
}

.card__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    padding: 0 38px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 324px;
    min-height: 431px;
    background-color: $secondary-color;
  }
}


.card__heading {
  margin: 0;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.25;
  color: $heading-text-color;
  text-transform: uppercase;
  max-width: 74px;
}


// .card__image {
//   width: 140px;
//   height: 144px;
// }
