.catalog {
  padding-top: 32px;
  margin-bottom: 30px;
}

.catalog__wrapper {
  @include container();
}

.catalog__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__heading {
  margin: 0;
  margin-bottom: 36px;
  padding: 0 20px;
  font-size: 36px;
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.67;
  color: $heading-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 74px;
    padding: 0 30px;
  }
}

