.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  margin-left: auto;
}

.copyright__title {
  font-size: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }
}

.copyright__icon {
  width: 40px;
  height: 40px;
}

.copyright svg {
  fill: #666666;
}

.copyright:hover svg {
  fill: $primary-color;
}

.copyright:active {
  opacity: 0.3;
}
