.example {
  background-color: $secondary-color;
  padding: 33px 0 38px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    width: 1300px;
    margin: 0 auto;
  }
}

.example__wrapper {
  @include container();

  @media (min-width: $desktop-width) {
    background-color: $secondary-color;
    padding-bottom: 75px;
  }
}

.example__heading {
  margin: 0 0 33px 0;
  font-family: $font-stack;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: $heading-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1;
    margin-bottom: 142px;
  }
}

.example__description {
  margin: 0 0 27px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 56px 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.5;
    margin-bottom: 71px;
    max-width: 431px;
  }
}

.example__container {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 241px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__table {
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.example__table tbody {
  display: flex;
  justify-content: space-between;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 367px;
  }
}

.example__small {
  font-size: 12px;
  position: absolute;
}

.example__info {
  margin: 0;
  font-size: 24px;
  font-family: $font-stack;
  line-height: 1;
  color: $heading-text-color;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px #cdcdcd;
  padding: 13px 23px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.example__expenses {
  margin: 0;
  text-align: center;
  font-family: $font-stack;
  line-height: 1.43;
  color: $heading-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    min-width: 325px;
  }
}

.example__images {
  position: relative;
  min-height: 232px;

  @media (min-width: $tablet-width) {
    background-color: $secondary-color;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
  }
}

.example__image {
  position: relative;
  width: 311px;
  height: 232px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 35px;

  &--after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    width: 690px;
    height: 517px;
  }
}

.example__image img {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    transform: translateY(-142px);
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    transform: none;
  }
}

.example__bar {
  text-align: center;
  font-family: $font-stack;
  text-transform: uppercase;
  font-size: 16px;
  color: $heading-text-color;

  @media (min-width: $tablet-width) {
    background-color: $secondary-color;
  }
}

.example__button {
  border: none;
  background-color: transparent;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
