.example {
  background-color: $secondary-color;
  padding: 33px 0 38px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: #ffffff;
    background-image: linear-gradient(to right, $secondary-color 50%, #eaeaea 50%);
    background-position: 0 100%;
    background-size: 100% 462px;
    background-repeat: no-repeat;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, $secondary-color 70%, #eaeaea 30%);
  }
}

.example__wrapper {
  @include container();

  @media (min-width: $desktop-width) {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.example__heading {
  margin: 0 0 33px 0;
  font-family: $font-stack;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;
  color: $heading-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1;
    margin: 63px 0 142px 0;
  }
}

.example__description {
  margin: 0 0 27px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 56px 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.5;
    margin-bottom: 71px;
    max-width: 431px;
  }
}

.example__container {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__table {
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.example__table tbody {
  display: flex;
  justify-content: space-between;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 367px;
  }
}

.example__table tr {
  position: relative;
}

.example__small {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  background-color: $secondary-color;
  bottom: -13px;
  left: 20px;
  width: 87px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    background-color: #ffffff;
    width: auto;
    height: 27px;
    min-width: 114px;
    left: 24px;
    padding: 5px;
  }

  @media (min-width: $desktop-width) {
    background-color: $secondary-color;
  }
}

.example__info {
  margin: 0;
  width: 124px;
  font-size: 24px;
  font-family: $font-stack;
  line-height: 1;
  color: $heading-text-color;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px #cdcdcd;
  padding: 16px 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    width: 162px;
  }
}

.example__expenses {
  margin: 0;
  text-align: center;
  font-family: $font-stack;
  line-height: 1.43;
  color: $heading-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    min-width: 325px;
  }
}

.example__images {
  position: relative;
  min-height: 232px;
}

.example__image {
  position: relative;
  width: 311px;
  height: 232px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 35px;

  &--after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    width: 690px;
    height: 517px;
  }
}

.example__image img {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
  }
}

.example__bar {
  text-align: center;
  font-family: $font-stack;
  text-transform: uppercase;
  font-size: 16px;
  color: $heading-text-color;
}

.example__button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.example__button::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
}
