.features {
  margin-bottom: 47px;
}

.features__wrapper {
  @include container();
}

.features__heading {
  margin: 0 0 41px;
  font-family: $font-stack;
  font-size: 36px;
  font-weight: 400;
  color: $heading-text-color;
}

.features__description {
  margin: 0 0 32px;
}

.features__list {
  @include list-reset();
}

.features__item {
  position: relative;
  padding-left: 80px;
}

.features__item ::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $primary-color;

  left: 0;
  top: -3px;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 55px;
  }

  .features__heading {
    font-size: 60px;
    margin: 0 0 63px;
  }

  .features__list {
    min-width: 628px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    padding: 120px 0 0;
    width: 250px;
  }

  .features__item ::before {
    width: 80px;
    height: 80px;
    top: 0;
  }
}
