.field-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: $font-stack;
  text-transform: uppercase;
  line-height: 1.13;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-text__label {
  margin-right: 10px;
}

.field-text__field-input {
  position: relative;
  flex-grow: 1;
  padding: 15px 40px 15px 15px;
  border: 1px solid #e6e6e6;
  font-size: 16px;
  line-height: 1.13;
  font-family: $font-stack;
  text-transform: uppercase;
  color: #444444;
}

.field-text__field-input[type="email"]::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 19px;
  width: 18px;
  height: 14px;
  background-color: red;
  background-image: url("../../img/icon-tick.svg");
}

.field-text__field-input[type="tel"]::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 19px;
  width: 18px;
  height: 14px;
  background-image: url("../../img/icon-tick.svg");
}

.field-text__field-input:hover {
  border: 1px solid #cdcdcd;
}

.field-text__field-input:focus {
  border: 2px solid #444444;
}

.field-text__field-input:invalid {
  border: 2px solid #ff8282;
}

.field-text input[type="number"] {
  appearance: textfield;
}
