.field-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: $font-stack;
  text-transform: uppercase;
  line-height: 1.13;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field-text__field-input {
  flex-grow: 1;
  padding: 17px 20px;
  border: 1px solid #e6e6e6;
}

.field-text__label {
  margin-right: 20px;
}
