.intro {
  min-height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  color: #ffffff;
  text-align: center;
  font-family: $font-stack;

  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $heading-text-color;
    text-align: left;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    margin-bottom: 135px;
  }
}

.intro__wrapper {
  @include container();
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0 120px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding: 113px 0 0 122px;
  }
}

.intro__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    max-width: 414px;
    margin: 0 0 33px 0;
  }
}

.intro__description {
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 0 20px;
  }
}

.intro__image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 719px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.intro__container {
  position: relative;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: -180px;
  }
}
