.map {
  height: 363px;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/map-pin.png"),
      url("../../img/bg-map-mobile@2x.png");
    background-size: 55px 53px, cover;
    background-position: 50% 55%, 0 0;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/map-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-pin.png"),
        url("../../img/bg-map-tablet@2x.png");
      background-size: 113px 106px, cover;
      background-position: 53% 45%, 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("../img/map-desktop.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-pin.png"),
        url("../../img/bg-map-desktop@2x.png");
      background-position: 86% 46%, 0 0;
    }
  }
}
