.more__wrapper {
  @include container();
  text-align: center;
  padding: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 324px;
    height: 431px;
    border: solid 1px #e6e6e6;
    padding: 55px 32px 40px 47px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.more__heading {
  margin: 0 0 11px 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: $font-stack;
  font-weight: 400;
  color: $heading-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    max-width: 135px;
    margin: 0 auto 28px auto;
  }
}

.more__description {
  font-size: 12px;
  line-height: 1.33;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
    max-width: 167px;
    margin: 0 auto 85px auto;
  }
}

.more__icon {
  display: block;
  margin: 0 auto 23px auto;
  opacity: 0.2;
  width: 31px;
  height: 31px;
  background-image: url("../../img/icon-plus-mobile.svg");

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
    margin: 0 auto 50px auto;
    background-image: url("../../img/icon-plus.svg");
  }
}
