.page-footer {
  background-color: $secondary-color;

  @media (min-width: $tablet-width) {
    padding: 64px 0;
  }
}

.page-footer__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
  padding: 25px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
}

.page-footer__social {
  @include list-reset();
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 25px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

.page-footer__social-item {
  margin-right: 36px;
  width: 32px;
  height: 32px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer__social-vk {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-insta {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-fb {
    width: 14px;
    height: 28px;
  }
}
