.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 40px 0 40px;
    width: 1300px;
    margin: 0 auto;
  }
}

// .page-header--index::before {
//   @media (min-width: $desktop-width) {
//     position: absolute;
//     top: 0;
//     content: "";
//     width: 100%;
//     height: 696px;
//     z-index: -100;
//     background-image: url("../img/index-background-desktop@1x.jpg");
//     background-repeat: no-repeat;
//     background-position: 100% 0;
//     background-size: 650px 696px;
//   }
// }

.page-header__logo {
  display: block;
  position: relative;
  border-bottom: solid 1px #ededed;
  padding: 11px 20px 15px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0 0 0 30px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.page-header__image {
  width: 191px;
  height: 39px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    height: 60px;
  }
}

.page-header__logo[href]:hover {
  opacity: 0.8;
}

.page-header__logo[href]:active {
  opacity: 0.6;
}
