.page-main__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.page-main__heading {
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  font-family: $font-stack;
  color: $heading-text-color;
  margin: 30px 0 35px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 63px 0 53px 0;
    padding: 0 30px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
    padding: 0 40px;
    line-height: 1;
  }
}

.page-main__description {
  font-family: $font-stack;
  color: $heading-text-color;
  text-transform: uppercase;

  max-width: 226px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    max-width: 322px;
    font-size: 20px;
    margin: 0 0 70px 0;
  }
}
