.selection {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto 72px auto;
  }
}

.selection__wrapper {
  @include container();

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.selection__heading {
  color: $heading-text-color;
  line-height: 1;
  font-size: 24px;
  font-weight: 400;
  font-family: $font-stack;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 36px;
    padding-bottom: 70px;
  }
}

.selection__item {
  border: none;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &--border {
    padding-bottom: 25px;
    border-bottom: solid 1px #ededed;

    @media (min-width: $tablet-width) {
      border: none;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      flex-basis: calc(50% - 40px);
    }
  }
}

.selection__wrapper > .selection__item:last-of-type {
  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }
}

.selection p:last-child {
  text-align: center;
  line-height: 1.14;
}

.selection__programm {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: solid 1px #e6e6e6;
    padding: 36px 28px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 25px 28px;
    height: 196px;
  }
}

.selection__programm label {
  font-size: 16px;
  line-height: 1.13;
  font-family: $font-stack;
  text-transform: uppercase;
  color: #222222;
  padding-left: 45px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 60px;
  }
}

.selection__programm label:last-child {
  margin-bottom: 0;
}

.selection__programm input {
  display: none;
}

.selection__container {
  &--info {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.selection__container--owner .field-text {
  @media (min-width: $desktop-width) {
    flex-basis: calc(50% - 40px);
  }
}

.selection__reply {
  padding: 15px;
  width: 100%;
  height: 150px;
  border: solid 1px #e6e6e6;
  font-size: 16px;
  line-height: 1.13;
  font-family: $font-stack;
  text-transform: uppercase;
  color: #444444;
  resize: vertical;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    height: 174px;
    padding: 17px 20px;
  }
}

.selection__additional {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.selection__additional label {
  font-size: 16px;
  line-height: 1.13;
  font-family: $font-stack;
  text-transform: uppercase;
  color: #222222;
  padding-left: 45px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 60px;
    width: 50%;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    margin-bottom: 54px;
  }
}

.selection__additional label:last-child {
  margin-bottom: 0;
}

.selection__additional input {
  display: none;
}

.selection__info {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}
